{% extends 'base.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}

{% block body %}
    <h1>Créer votre compte</h1>
    <div id="div-form">
        {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm) }}
            <button type="submit" class="btn">S'enregistrer</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
