{% extends 'base.html.twig' %}

{% block title %}
    Modifier sortie
{% endblock %}

{% block body %}
    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <button>Ajouter</button>
    {{ form_end(sortieForm) }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src = {{ asset('javascript/scriptFormSortie.js') }}></script>
{% endblock %}

