{% extends 'base.html.twig' %}

{% block title %}
    Modifier sortie
{% endblock %}

{% block body %}
    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <button>Ajouter</button>
    {{ form_end(sortieForm) }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $('#sortie_ville').change(function (){
            let villeSelector = $(this);

            $.ajax({
                url : "{{ path('sortie_liste_lieux') }}",
                type : "GET",
                dataType : "JSON",
                data: {
                    villeId: villeSelector.val()
                },
                success: function (lieux) {
                    let lieuSelect = $("#sortie_lieu");

                    lieuSelect.html('');

                    lieuSelect.append('<option value> Choisissez un lieu de ' + villeSelector.find("option:selected").text() + '</option>');

                    $.each(lieux, function (key, lieu) {
                        lieuSelect.append('<option value="' + lieu.id + '">' + lieu.nom + '</option>');
                    });
                },
                error: function (err) {
                    alert("Erreur chargement des données");
                }
            });
        });
    </script>
{% endblock %}

